.map-container {
    width: 100vw;
    height: 100vh;

    &.dark {
        :global(.maplibregl-popup-content) {
            background-color: var(--primary-container) !important;
            color: var(--on-primary-container) !important;
        }

        :global(.maplibregl-popup-tip) {
            border-top-color: var(--primary-container) !important;
            border-bottom-color: var(--primary-container) !important;
        }
    }
}